.form{
    display: flex;
    border-top:2px solid #d3d3d3;
}

.input{
    width: 80%;
    border-radius:0 ;
    border: none;
    font-size: 1.2em;
    padding: 5%;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


.btn{
    display: inline-block;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    border:none ;
    width:20% ; 
    padding: 20px;
    background: #2979ff;
    outline: none;
}